@{
	List<(string year, string season, int time)> data = (List<(string year, string season, int time)>) ViewData["data"];
}

<h2>@ViewData["Title"]</h2>

<table class="hours table">
	@{
		foreach (var dat in data)
		{
			<tr>
				<td>@dat.year</td>
				<td>@dat.season</td>
				<td>@dat.time</td>
			</tr>
		}
	}
</table>